
Protoboard/.idea/vcs.xml

Protoboard/.idea/inspectionProfiles/profiles_settings.xml

Protoboard/.idea/misc.xml

Protoboard/.idea/modules.xml

Protoboard/.idea/Protoboard.iml

Protoboard/__pycache__/Basurero.cpython-39.pyc

Protoboard/__pycache__/Cableado.cpython-39.pyc

Protoboard/__pycache__/Conector.cpython-39.pyc

Protoboard/__pycache__/Datos.cpython-39.pyc

Protoboard/__pycache__/Led.cpython-39.pyc

Protoboard/__pycache__/Menu.cpython-39.pyc

Protoboard/__pycache__/Pila.cpython-39.pyc

Protoboard/__pycache__/Protoboard.cpython-39.pyc

Protoboard/__pycache__/Resistencia.cpython-39.pyc

Protoboard/__pycache__/Switch.cpython-39.pyc

Protoboard/__pycache__/Switch_16.cpython-39.pyc

Protoboard/__pycache__/Basurero.cpython-311.pyc

Protoboard/__pycache__/Cableado.cpython-311.pyc

Protoboard/__pycache__/Conector.cpython-311.pyc

Protoboard/__pycache__/Datos.cpython-311.pyc

Protoboard/__pycache__/Led.cpython-311.pyc

Protoboard/__pycache__/Menu.cpython-311.pyc

Protoboard/__pycache__/Pila.cpython-311.pyc

Protoboard/__pycache__/Protoboard.cpython-311.pyc

Protoboard/__pycache__/Resistencia.cpython-311.pyc

Protoboard/__pycache__/Switch.cpython-311.pyc

Protoboard/__pycache__/Switch_16.cpython-311.pyc

Protoboard/__pycache__/Chip.cpython-39.pyc

Protoboard/__pycache__/Chip.cpython-311.pyc

Protoboard/__pycache__/Chip_and.cpython-311.pyc

Protoboard/__pycache__/Chip_not.cpython-311.pyc

Protoboard/__pycache__/Chip_or.cpython-311.pyc

Protoboard/__pycache__/Display.cpython-39.pyc

Protoboard/__pycache__/Motor.cpython-39.pyc
